<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.trustedapp.todolist.planner.reminders">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- Declaring the required permissions -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name=".DemoApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidBP">
        <activity
            android:name=".screens.settings.notireminder.NotiReminderActivity"
            android:exported="false" />
        <activity
            android:name=".screens.home.HomeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AndroidBP.NoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".screens.splash.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".screens.taskdetail.TaskDetailActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".screens.newtask.NewTaskActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".screens.search.SearchTaskActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".screens.home.tasks.suggest.SuggestActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".alarm.AlarmActivity"
            android:launchMode="singleInstance"
            android:showWhenLocked="true"
            android:theme="@style/Theme.AndroidBP.Alarm"
            tools:targetApi="o_mr1" />
        <activity android:name=".screens.theme.ThemeActivity" />
        <activity android:name=".screens.widget.WidgetActivity" />
        <activity android:name=".screens.language.start.LanguageSetupActivity" />
        <activity android:name=".screens.settings.firstdayofweek.FirstDayOfWeekActivity" />
        <activity android:name=".screens.settings.timeformat.TimeFormatActivity" />
        <activity android:name=".screens.settings.dateformat.DateFormatActivity" />
        <activity android:name=".screens.language.setting.LanguageSettingActivity" />
        <activity android:name=".screens.settings.policy.PolicyActivity" />
        <activity
            android:name=".widget.countdown.CountDownWidgetSettingActivity" />
        <activity android:name=".widget.month.MonthWidgetSettingActivity" />
        <activity android:name=".widget.standard.StandardWidgetSettingActivity" />
        <activity android:name=".widget.lite.LiteWidgetSettingActivity" />
        <activity android:name=".screens.theme.ThemeSettingActivity" />

        <receiver android:name=".alarm.AlarmHelper" />
        <receiver
            android:name=".alarm.SchedularBroadcast"
            android:exported="false">
            <intent-filter>
                <action android:name="android.app.action.SCHEDULE_EXACT_ALARM_PERMISSION_STATE_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".alarm.SchedularBootedBroadcast"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider> <!-- Sample AdMob app ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/ads_id" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token" />

        <!--        Widget-->
        <receiver
            android:name=".widget.standard.StandardWidget"
            android:exported="true"
            android:label="Standard">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.intent.action.DATE_CHANGED" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_standard_info" />
        </receiver>
        <service
            android:name=".widget.standard.StandardRemoteService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <receiver
            android:name=".widget.lite.LiteWidget"
            android:exported="true"
            android:label="Lite">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.intent.action.DATE_CHANGED" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_lite_info" />
        </receiver>
        <service
            android:name=".widget.lite.LiteRemoteService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <receiver
            android:name=".widget.countdown.CountdownWidget"
            android:exported="true"
            android:label="Countdown">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.intent.action.DATE_CHANGED" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_countdown_info" />
        </receiver>

        <receiver
            android:name=".widget.month.MonthWidget"
            android:exported="true"
            android:label="Month">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.intent.action.DATE_CHANGED" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_month_info" />
        </receiver>

        <service
            android:name=".widget.month.MonthRemoteService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <receiver
            android:name=".utils.NetworkChangeReceiver"
            android:exported="true"
            android:label="NetworkChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
